/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

a,
input,
button,
li {
  appearance: none;
  border: none;
  outline: none;
  background: none;
  text-decoration: none;
  list-style: none;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  min-width: 1024px;
  padding: 0 50px;
  box-sizing: border-box;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/****** Header ***********/
.header_part {
  height: 79px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.logo {
  padding: 30px 0;
}

.logo img {
  width: 4em;
}

/****** Navigation ***********/
.navbar_container {
  display: flex;
  align-items: flex-start;
  padding: 0;
  margin: 0;
}

.navbar_container li:first-child {
  margin-right: 69px;
}

.navbar_container li {
  padding-top: 14px;
}

.navbar_container li a {
  font-size: 16px;
  font-weight: 400;
  color: #000000;
}

.navbar_container li:hover {
  border-top: 2px solid var(--main-color);
}

.navbar_container a:hover {
  color: var(--main-color);
}

/****** Main information ***********/
.info_group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 37.5px;
}

.info_paragraph {
  margin: 0;
}

.headline {
  margin-bottom: 35px;
}

.headline h1 {
  margin: 0;
}

.headline p {
  margin-top: 8px;
}

/****** Search bar ***********/
.search_bar {
  width: fit-content;
  border: 1px solid var(--main-bg-color);
  border-radius: 15px;
  margin-bottom: 35px;
}

.formulaire {
  height: 49px;
}

.formulaire_location__icon {
  background: var(--main-bg-color);
  border: 1px solid var(--main-bg-color);
  border-radius: 15px 0 0 15px;
  padding: 16px 15px 14px 18px;
}

.formulaire_location__icon .fa-solid {
  color: #000000;
}

.location_input {
  font-size: 18px;
  font-weight: 700;
  color: #000000;
  text-align: center;
}

.formulaire_btn__desktop {
  background: var(--main-color);
  font-size: 18px;
  font-weight: 700;
  padding: 14px 16px;
  border-radius: 0 15px 15px 0;
  color: #ffffff;
}

.formulaire_btn__mobile {
  display: none;
}

/****** Filters ***********/
.filter_bar {
  width: 65%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 37.5px;
}

.filter_bar p {
  text-align: start;
  margin-right: 15px;
}

.filter_bar__btn {
  display: flex;
  align-items: center;
  font-size: 17px;
  font-weight: 700;
  border: 2px solid #d9d9d9;
  border-radius: 25px;
  padding: 15px 19px;
  margin-right: 15px;
}

.filter_btn_capitalize {
  text-transform: capitalize;
}

.filter_bar__btn:hover {
  background-color: var(--filter-bg-color);
}

.filter_bar__btn .fa-solid {
  font-size: 17px;
  font-weight: 700;
  padding-right: 10px;
}

/****** Additional information ***********/
.info_bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
}

.info_bar__circle {
  position: relative;
  border: 1px solid var(--main-bg-color);
  border-radius: 50%;
  align-items: center;
  padding: 10px;
  margin-right: 10px;
}

.info_bar .fa-solid {
  position: relative;
  font-size: 10px;
  right: 22px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
  margin-bottom: 65px;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
  display: flex;
  flex-direction: column;
}

.hebergements_cards {
  display: flex;
  justify-content: space-between;
}

.hebergements_cards .card a {
  width: 100%;
  color: #000000;
}

.hebergements_cards .card {
  width: 30%;
  display: flex;
  margin-top: 30px;
}

.hebergements_cards img {
  width: 100%;
  height: 124px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

.hebergements_cards .card-content {
  margin: 4px 15px 15px 15px;
}

.hebergements_cards .card-title {
  margin: 0;
}

.hebergements_cards .card-subtitle {
  margin: 8px 0;
}

.hebergements_para {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 30px;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .populaires-cards {
  margin-top: 30px;
} */

.populaires-cards .card a {
  display: flex;
  color: #000000;
}

.populaires-cards .card {
  /* width: 100%; */
  margin-top: 30px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/****** Activities ***********/
.activites {
  display: flex;
  flex-direction: column;
  margin: 0 0 65px 30px;
}

.activites_title {
  margin-bottom: 30px;
}

.activites_cards {
  display: flex;
}

.activites_cards .card {
  width: 23%;
  margin-right: 30px;
}

.activites_cards .card a {
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  color: #000000;
}

.activites_cards img {
  width: 100%;
  height: 380px;
  border-radius: 20px 20px 0 0;
}

.activites_cards .card-content {
  margin: 20px 19px 20px 19px;
}

/****** Footer ***********/
.footer_main {
  display: flex;
  justify-content: space-between;
  background-color: var(--main-bg-color);
  padding: 20px 20px 5px 0px;
}

.footer_main .footer_content {
  width: 30%;
}

.footer_content {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-left: 20px;
}

.footer-title {
  margin: 0 0 15px 0;
}

.footer_paragraph {
  margin-top: 0;
}

.footer_paragraph {
  margin-bottom: 15px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/

/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards .card {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  /* ... */
}
